.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d55a5a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 1.5rem;
    left: 0.5rem;
    right: 0.5rem;
    border-radius: 50px;
}

.leftSide{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight:800;
    margin-left:0.7rem;
}

.rightSide{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    font-weight:800;
    margin-right: 0.7rem;
}   
